<div class="container py-4" >
  <h1 *ngIf="sure == false" class="text-center text-danger">Sorry! this category isn't available at this time</h1>
<div class="row " *ngIf="sure == true">
    
    <div class="col-6  col-md-3" *ngFor="let product of data">
        
<div class="product p-3 overflow-hidden">
    <a [routerLink]="['/productdetails' , product._id]" class="text-reset text-decoration-none">
    <img class="w-100" src={{product.imageCover}}>
    <span class="text-main fw-bolder">{{product.category.name}}</span>
    <h6 class="text-nowrap fw-bold">{{product.title.split(" ").slice(0,2).join(" ")}}</h6>
    <div class="d-flex align-items-center justify-content-between ">
        <span class="text-muted  font-sm">{{product.price|currency:' EGP '}}</span>
        <div>
        <i class="fas fa-star rating-color"></i>
        <span>{{product.ratingsAverage}}</span>
    </div>
   
    </div>
   
</a>
<div>
    <button class="btn bg-main text-white w-100 my-1" (click)="addtocart(product._id)">+ ADD</button>
</div>
</div>

    </div>

</div>
</div>
