<div class="container">
<div class="shadow p-5 my-4">
    <h4 class="pb-3"> Reset Password:</h4>
    <form (ngSubmit)="verfiy(verfy)" [formGroup]="verfy">
<label>Email:</label>
<input class="form-control mb-2" type="email" id="email" formControlName="email">
<div *ngIf="verfy.get('email')?.errors && verfy.get('email')?.touched" class="alert alert-danger" >
    <p class="m-0" *ngIf="verfy.get('email')?.getError('required')">email is required</p>
    <p class="m-0" *ngIf="verfy.get('email')?.getError('email')">email is InValid</p>
</div>
<label>Password:</label>
<input class="form-control mb-2" [type]="show ? 'password' : 'text'" id="password" formControlName="newPassword">
<div *ngIf="verfy.get('password')?.errors && verfy.get('password')?.touched" class="alert alert-danger" >
    <p class="m-0" *ngIf="verfy.get('newPassword')?.getError('required')">password is required</p>
    <p class="m-0" *ngIf="verfy.get('newPassword')?.getError('pattern')">Minimum five characters, at least one letter and one number:</p>
</div>
<div class="d-flex justify-content-between align-content-center">
    <div>
        <input type="checkbox" id="showPassword" class="p-2 m-2" (click)="showpass()"/>
        <label for="showPassword">{{show ? 'Show' : 'Hide'}} password</label>
    </div>
    <div>
        <button [disabled]="verfy.status == 'INVALID'" type="submit" class="btn ms-auto d-block btn-success">
            <span *ngIf="ooh == false"><i class="fas fa-spinner fa-spin"></i></span>
           <span *ngIf="ooh == true" > login</span>
        </button>
    </div>
</div>


<div *ngIf="erorr" class="alert alert-danger mt-4 text-center">
    {{erorr}}
    </div>
    </form>
</div>
</div>
