<div class="loader2" *ngIf="loaderservices.isloader |async" id="loader">
    <span class="loader"></span>
</div>
<nav class="navbar navbar-expand-sm navbar-light bg-light  ">
    
      <div class="container">
       <a class="navbar-brand d-flex align-items-center ">
        <img src="assets/freshcart-logo.svg" class="">
       </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul *ngIf="_userservise.token" class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="categoris">categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="brands">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="allorders">orders</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <ul class="navbar-nav d-flex align-items-center flex-nowrap d-none">
                    <li class="nav-item d-flex flex-nowrap"> <i class="fab mx-2 fa-instagram"></i>
                        <i class="fab mx-2 fa-facebook"></i>
                        <i class="fab mx-2 fa-tiktok"></i>
                        <i class="fab mx-2 fa-twitter"></i>
                        <i class="fab mx-2 fa-linkedin"></i>
                        <i class="fab mx-2 fa-youtube"></i></li>
                </ul>
                <li class="nav-item">
                    <a *ngIf="!_userservise.token"  class="nav-link" routerLink="login">Login</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="!_userservise.token"  class="nav-link"  routerLink="register">Register</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link position-relative" *ngIf="_userservise.token" routerLink="cart">
                    <i class="fas fa-shopping-cart fa-lg text-main "></i>
                    <span class="badge fs- bg-main position-absolute top-0">{{numbercard}}</span>
                    </a>
                                    </li>
                <li class="nav-item">
                    <a *ngIf="_userservise.token" (click)=" _userservise.loginout()" class="nav-link cursor-pointer" >Logout</a>
                </li>
               
            </ul>
        </div>
  </div>
</nav>
