/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.bg-gold{
    background-color: var(--rating-color)!important;
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    font-weight: 700;
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.productt{
    transition: all 0.3s ease-in-out;
}
.productt:hover
{
    box-shadow: var(--shadow);
    transform: scale(1.1);
}
.product .btn 
{
   
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.border-main{
    border-color:  var(--main-color);;
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
label{
    color: rgb(39, 35, 35);
    font-weight: 600;
}
a{
    text-decoration: none!important;
    cursor: pointer!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bb{
    margin-top: 100px!important;
}
.ds:hover{
    
}